:root{
    /*--manga-height: 2400px*/
    --manga-height: 320px
}

@media only screen and (max-width: 600px) {
    :root{
        /*--manga-height: 2400px*/
        --manga-height: 260px;
    }
}

@media only screen and (max-width: 500px) {
    :root{
        /*--manga-height: 2400px*/
        --manga-height: 200px;
    }
}

#splash-screen{
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

#splash-screen-background{
    background-image: url("../img/bg.jpg");
    /*box-shadow: inset 0px -4px 8px 2px #565656;*/
    filter: blur(0px) brightness(0.5);
    position: absolute;
    z-index: -1;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

#title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px)  {
    #first-title, #second-title{
        font-size: 86px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    #first-title::after{
        content: none !important;
    }
    #title-notch{
        height: 36px !important;
        margin-right: -237px !important;
        margin-top: 41px !important;
    }
}

#first-title{
    font-size: 160px;
    margin-left: -260px;
    margin-bottom: -40px;
    color: #F19A3E;
    text-shadow: 0px 0px 8px #00000065, 0px 0px 8px #f19a3e9e;
    letter-spacing: 6px;
    font-weight: 600;
    position: relative;
}

#first-title::after{
    content: "";
    position: absolute;
    bottom: 0;
    left:130px;
    width: 100%;
    height: 4px;
    background-color: #be813e;
    border-radius: 4px;
    box-shadow: 0px -7px 6px 0px #be813e, 0px 7px 6px 0px #be813e;
    z-index: -1;
}

#second-title{
    font-size: 140px;
    color: #F19A3E;
    margin-right: -260px;
    text-shadow: 0px 0px 8px #00000065, 0px 0px 8px #f19a3e9e;
    letter-spacing: 6px;
    font-weight: 200;
}

#title-notch{
    height: 60px;
    position: absolute;
    z-index: 4;
    margin-right: -627px;
    margin-top: 112px;
    transform: rotate(18deg);
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    box-shadow: 0px -2px 6px 0px rgb(70, 70, 70);
    padding-bottom: 20px;
}

.content-section{
    background-color: #FFF;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    box-shadow: 0px 0px 60px 0px #00000024;
    border-radius: 12px;
}

.section-title > h2{
    color:#F19A3E;
    padding:12px 24px;
    position: relative;
    margin-left: 50px;
    text-shadow: 0px 0px 8px #ee9a3e85;
    font-weight: 500;
    font-size: 32px;
}

.section-body{
    padding:0 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.manga{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F19A3E;    
    margin-top: 0;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 0px #f19a3e6b;
    cursor: pointer;
    transition: box-shadow .2s ease-in;
    margin:auto;
    margin-top: 12px;
    margin-bottom: 12px;
    text-decoration: none;
}

.manga:hover{
    box-shadow: 1px 1px 8px 2px #f19a3e6b;
}

.manga > p{
    color: #FFF;
    padding: 6px;
    text-align: center;
    text-shadow: 0px 0px 4px #673500;
    text-decoration: none;
}

.manga > img{
    height: var(--manga-height);
    width: calc(var(--manga-height) * 0.708);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.content-section:first-child{
    margin-top: -50px;
}

.body-overflow-hidden{
    overflow: hidden;
}

#login-modal{
    background-color: rgba(0, 0, 0, 0.589);
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8888;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

#modal-background-overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.589);
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.show-modal{
    display: block;
}

.hide-modal{
    display: none !important;
}

#modal{
    z-index: 3;
    background-color: #FFF;
    padding:24px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 4px #000000e8;
    min-width:300px;
}

#modal > form > header{
    text-align: center;
    font-size: 24px
}


#modal > form{
    display: flex;
    flex-direction: column;
}

#modal > form > input{
    padding: 12px;
    background-color: #dcdbdb3d;
    border: 1px solid #efefef;    
    border-radius: 4px;
    margin-bottom: 12px;
}

#modal > form > input:first-of-type{
    padding: 12px;
    margin-top:24px;
    background-color: #dcdbdb3d;
    border: 1px solid #efefef;    
    border-radius: 4px;
}

#modal > form > input:last-of-type{
    margin-bottom: 24px;
    margin-top:0px;
}

#modal > form > button{
    padding: 12px;
    margin: 12px 0;
    border: none;
    background-color: #F19A3E;
    color: #FFF;
    border-radius: 24px;
    cursor: pointer;
    transition: all .2s ease;
}

#modal > form > button:hover{
    background-color: #e28c30;
}

#modal > form > small{
    color:#0645AD;
    cursor: pointer;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 12px;
}

.element-hide{
    display: none !important;
}


#manga-paper{
    background-color: white;
    height: calc(var(--manga-height) * 2.4);
    width: calc(var(--manga-height) * 0.708 * 2.4);
    justify-self: center;
    align-self: center;
    margin-top: 100px;
    margin-bottom: 60px;
    /*background-image: url("../img/mangas-pages/anime-1/cap-1/1.webp") url("../img/mangas-pages/1.webp");*/
}

.full-splash{
    height: 100% !important;
    position: fixed !important;
}

#manga-controls{
    color: #FFF;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:12px;
    transition:all .2s ease;
    position: fixed;
    bottom: 0;
    color: #F19A3E;
}

#manga-controls > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex:1;
}

#manga-controls > div:first-of-type{
    justify-content: flex-start;
}

#manga-controls > div:not(:first-child):not(:last-child){
    justify-content: center;
}

#manga-controls > div:last-of-type{
    justify-content: flex-end;
}

#manga-controls > div > a{
    color:#FFF;
    padding:6px 10px;
    margin:0 12px;
    border-radius: 12px;
}

#manga-controls > div > button{
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    padding:12px;
    width: 30px;
    height: 30px;
    background-color: #F19A3E;
    color:#FFF;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s ease;
}

#manga-controls > div > button:hover{
    transform: scale(1.1);
}


#big-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    margin-bottom: -20px;
}

#big-search > div{
    display: flex;
    width: 60%;
    background-color: #F19A3E;
    border:0;
    box-shadow: none;
    border-radius: 24px;
    padding: 12px;
    color:#FFF;
    justify-content: center;
    align-items: center;
}

#big-search > div > input{
    flex:1;
    background-color: transparent;
    border: 0;
    color:#FFF;
    font-size: 26px;
}

#big-search > div > input:focus-visible{
    outline: none;
    border: none;
    box-shadow: none;
}

#big-search > div > a{
    font-family: HoloLens MDL2 Assets;
    font-size: 28px;
    margin:0 6px;
    cursor: pointer;
}

.table-container{
    margin: auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.table-container > a{
    text-align: end;
}

.table-container > table{
    background-color: #FFF;    
    box-shadow: 0px 0px 60px 0px #00000024;
    border-radius: 12px;
}

.table-container > a{
    margin-bottom: 12px;
}

th{
    padding:0 24px;
}

td{
    text-align: center;
}

td > button{
    box-shadow: none;
    border:none;
    margin:0 6px;
    padding:4px;
    border-radius: 6px;
    color:#FFF;
    background-color: #e28c30;
}

.default-form{
    background-color: #FFF;
    margin: auto;
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    padding:16px;
    box-shadow: 0px 0px 60px 0px #00000024;
    border-radius: 12px;
}

.default-form input, .default-form textarea{
    padding: 12px;
    background-color: #dcdbdb3d;
    border: 1px solid #efefef;
    border-radius: 4px;
    margin-bottom: 12px;
}

.default-form textarea{
    flex:1;
    min-height: 200px;
    min-width: 500px;
    max-width: 800px;
}

.default-form button{
    padding: 12px;
    margin: 12px 0;
    border: none;
    background-color: #F19A3E;
    color: #FFF;
    border-radius: 24px;
    cursor: pointer;
    transition: all .2s ease;
}

.default-form button:hover{
    background-color: #e28c30;
}

.default-form > div:first-child{
    display: flex;
    flex-direction: column;
    margin:0 12px;
}


.default-form > div:last-child{
    display: flex;
    flex-direction: column;
    margin:0 12px;
}

.default-form img{
    height: calc(var(--manga-height) * 1.4) !important;
    width: calc(var(--manga-height) * 1.4 * 0.708) !important;
    object-fit: cover;
}

input[type="text"]:read-only{
    background-color: #efefef !important;
    pointer-events: none;
}

#chapter-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.default-select{
    flex:1;
    height: 30px;
    max-height: 30px;
    min-height: 30px;
    border-radius: 4px;
    border: none;
    background-color: #f19a3e;
    color: #FFF;
}


#chapter-div > button{
    width: 20px;
    height: 20px;
    padding:0;
    margin-left: 12px;
}

#pages-container{
    flex: 1;
    overflow-y: auto;
    max-height: 100%;
    flex-grow: 1;
    flex-basis: 0;
}

#pages-container > div{
    background-color: #f7f6f69c;
    border-radius: 4px;
    height: 100px;
    margin:12px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#pages-container > div > img{
    height: 80px !important;
    width: 60px !important;
    object-fit: scale-down;
}

#pages-container > div > button{
    height: 32px !important;
    width: 32px !important;
    padding: 0;
    background-color: #e04f4f;
}

#empty-result{
    text-align: center;
    font-size:32px;
    color:#333;
    margin:24px auto;
}

#favoritar{
    position: absolute;
    right: 0;
    padding: 8px;
    text-align: center;
    color:grey
}

.favoritado::after{
    content: "";
    font-size: 1.6rem;
    font-family: HoloLens MDL2 Assets;
    transition: all .2s ease;
    color: red;
}

.nao-favoritado::after{
    content: "";
    font-size: 1.6rem;
    font-family: HoloLens MDL2 Assets;
    transition: all .2s ease;
}

.nao-favoritado:hover::after{
    transform: scale(3);
    color: red;
}

#manga-info-container{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 2%;
    box-shadow: 0px 0px 60px 0px #00000024;
    border-radius: 12px;
    max-width: 80%;
}


#manga-info-image{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
}

#manga-info-image img{
    height: calc(var(--manga-height) * 1.4) !important;
    width: calc(var(--manga-height) * 1.4 * 0.708) !important;
    object-fit: cover;
}

#manga-info{
    display: flex;
    flex-direction: column;
    margin:4%;
    min-width: 300px;
}

#manga-info-title{
    font-size: 2rem;
    color:#e28c30;
    margin-bottom: -8px;
}

#manga-info-autor{
    font-size: 1.4rem;
    margin-bottom: 8px;
}

#manga-info-other{
    font-size: 1rem;
}

.capitulo-info{
    min-width: 80%;
    margin: 2%;
    padding:1%;
    font-size: 1.2rem;
    border-radius: 6px;
    color:#FFF;
    background: linear-gradient(90deg,#f3aa5d, #ef902a);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#capitulo-info:last-of-type{
    margin-bottom: 0;
}

.capitulo-info-pags{
    font-size: 0.8rem;
}